@page "/counter" 
@inject ProductClient ProductClient

<h1>Get</h1>

<input type="text" @bind="_id" />
<button @onclick="GetProductById"></button> 

@if (_product != null)
{
    <RadzenDataGrid Data="@_products">
        <Columns>
            <RadzenDataGridColumn Title="id" TItem="Product" Property="@nameof(Product.Id)"></RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Name" TItem="Product" Property="@nameof(Product.Name)"></RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Quantity" TItem="Product" Property="@nameof(Product.Quantity)"></RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Price" TItem="Product" Property="@nameof(Product.Price)"></RadzenDataGridColumn>
            <RadzenDataGridColumn Title="Bar Code" TItem="Product" Property="@nameof(Product.BarCode)"></RadzenDataGridColumn>
          
        </Columns>
    </RadzenDataGrid>
}

@code{
    private int _id;
    private Product _product;
    private List<Product> _products = new();

    private async Task GetProductById()
    {
        if (_id != null)
        {
            _product = await ProductClient.GetProductByIdAsync(_id);
            if (_product != null)
                _products.Add(_product);
        }
    }

}