@page "/product-details" 
@using EasyStock.Library.Entities.Interface
@inject IProductClient ProductClient

<h1>Get Product Details</h1>

<input type="number" @bind-value="id" />
<button @onclick="GetProductById">Get Product Details</button> 

@if (product != null)
{
    <div class="product-details">
        <div class="detail"><strong>ID:</strong> @product.Id</div>
        <div class="detail"><strong>Name:</strong> @product.Name</div>
        <div class="detail"><strong>Quantity:</strong> @product.Quantity</div>
        <div class="detail"><strong>Price:</strong> @product.Price.ToString("C")</div>
        <div class="detail"><strong>Bar Code:</strong> @product.BarCode</div>
    </div>
}
else
{
    <p>Please enter a product ID to display its details.</p>
}



@code{
    private int id;
    private Product product;

    private async Task GetProductById()
    {
        if (id != null)
        {
            product = await ProductClient.GetProductByIdAsync(id);
        }

    }

}